/* homepage css */

h1 {
    color: dodgerblue;
    text-align: center;
    font-family: Poppins;
}

img {
    border-radius: 50px;
}

hr {
    border-top: 1px solid dodgerblue;
  }

ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
}
  
li {
    float: left;
    font-family: Poppins;
}
  
li a {
    display: block;
    color: dodgerblue;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
    font-size: 20px;
    font-family: Poppins;
}
  
   /* Change the link color to #111 (black) on hover  */
  li a:hover {
    background-color:dodgerblue;
    color: white;
    font-family: Poppins;
} 

.flex-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: auto;
    width: auto;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.flex-container > div {
    margin: 10px;
    font-family: Poppins;
    
}

/* end of homepage css */


/* start of resume css */
.flex-container-resume {
  display: flex;
  flex-direction: row;
  height: auto;
  flex-wrap: wrap;
  justify-content: space-evenly;
  justify-content: center;
}

.flex-container-resume > div {
  margin: 10px;
  width: 480px;
  color: dodgerblue;
  font-family: Poppins;

}

/*end of resume css */

/*start of contact css */

.flex-container-contact {
  display: flex;
  flex-direction: row;
  height: auto;
  justify-content: space-evenly;
  align-items: center;
}

.flex-container-contact > div {
  height: 200px;
  width: 300px;
  color: dodgerblue;
  font-family: Poppins;
  text-align: center;
}

/*end of contact css*/

/* start of about css */

.flex-container-about {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: auto;
  flex-wrap: wrap;
  justify-content: space-around;
}

.flex-container-about > div {
  margin: 10px;
  color: dodgerblue;
  font-family: Poppins;
}

#aboutpage_pic {
  max-width: 460px;
  max-height: 619px;
}

/* end of about css */

#flex-container-friends {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: auto;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: burlywood;
}

#flex-container-friends > div {
  margin: 10px;
  color: dodgerblue;
  font-family: Poppins;
  background-color: cornflowerblue;
}


/* responsive navbar */
 .rc_nav {
   overflow: hidden;
   background-color: white;
   text-align: center;
   z-index: 6;
 }
 
 .rc_nav a {
  display: inline-block;
  margin-right: -4px;  /* inline-block gap fix */
  color:dodgerblue;
  padding: 22px 22px;
  text-decoration: none;
  font-family: Poppins;
  font-size: 18px;
  -webkit-transition: background 0.3s linear;
  -moz-transition: background 0.3s linear;
  -ms-transition: background 0.3s linear;
  -o-transition: background 0.3s linear;
  transition: background 0.3s linear;
  z-index: 9;
 }
 
 .rc_nav a:hover {
  background-color: dodgerblue;
  color: white;
}

 .rc_nav .icon {
   display: none;
 }
 
 .rc_content {
   text-align: center; 
   padding-left:14px; 
   font-family: Poppins; 
   margin-top: 100px;  
   color: #8e909b;
 }

 /* about media query */
 @media screen and (max-width: 600px) {
  #about-pic {
    max-width: fit-content;
    max-height: fit-content;
    }
  }

 /* about media query  */
 @media screen and (max-width: 600px) {
  .flex-container-contact {
    display: flex;
    flex-direction: column;
    height: auto;
    text-align: center;
  }
  .flex-container-contact > div {
    height: 250px;
    color: dodgerblue;
    }
  }

 @media screen and (max-width: 820px) {
   .rc_nav a {display: none;}
   .rc_nav a.icon {
     float: right;
     display: block;
     width: 60px;
   }
 }
 
 @media screen and (max-width: 820px) {
   .rc_nav.responsive {position: relative; top: 73px;}
   .rc_nav.responsive .icon {
     position: fixed;
     right: 0;
     top: 0;
   }
   .rc_nav.responsive a {
     float: none;
     display: block;
     text-align: center;
   }
 }