{% extends "profilepage/base.html" %}
    {% block content %}
        <div class="flex-container-about">
            <div><img id="about-pic" src="/static/profilepage/images/about_edited.jpg" style="max-width: 460px; max-height: 619px;"></div>

            <div>
                <h2 style="color: rgb(23, 104, 185);">About</h2> <a href="https://www.linkedin.com/in/abimanyu-yuda-dewa-a9bb981a0/"><img src="/static/profilepage/images/linkedin.png" width="42" height="44"></a>
                <a href="https://www.instagram.com/abimanyu_yuda/?hl=en"><img src="/static/profilepage/images/instagram.png" width="44" height="47"></a>
                <p>Hello, I’m Abimanyu. I was born in Jakarta, 6th of January 2001.<br> 
                Since i was little, i was interested in computers. It started off small,<br> 
                first it was video games than it came to tinkering with my phone,<br>
                rooting it, changing the bootup animation, messing with the ROM, etc.<br>
                When i was in high school, i joined the club that looked really<br>
                interesting and in line with my interests, it was computer club.<br>
                I learned to code with Delphi, Xcode, HTML/CSS,<br>
                which lead me to choose computer science major. 
                <br>I’m currently studying in the University of Indonesia, in my 2nd semester. <br>
                <h3 style="color: rgb(23, 104, 185);">My Skills</h3>
                <p>Programming with Python<br>
                Make web-based GUI and GUI with Tkinter<br>
                Basic knowledge of HTML/CSS</p></div>
        </div>
        <br><br><br>
        <div style="text-align: center; bottom: 0;"><a href="https://www.freepnglogos.com/images/instagram-logo-png-2438.html">blue instagram logo icon png images hd from freepnglogos.com</a></div>
    {% endblock %}