{% extends "profilepage/base.html" %}
{% block content %}
    <form method = "POST">
        {% csrf_token %}
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name"><br>
        <label for="hobby">Hobby:</label><br>
        <input type="text" id="hobby" name="hobby"><br>
        <label for="favorite_food">Favourite Food:</label><br>
        <input type="text" id="favorite_food" name="favorite_food"><br>
        <label for="class_year">Class Year:</label><br>
        <input type="text" id="class_year" name="class_year"><br>
        <button type="submit">Submit</button>
    </form>
{% endblock %}
