{% load static %}
<!DOCTYPE html>
<head>
    <title>Story 5</title>
    <link rel="stylesheet" type="text/css" href="{% static 'profilepage/main.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

    <body>        
        <div class="rc_nav" id="centered_nav">
        <a href="{% url 'home' %}" title="Home">Home</a>
        <a href="{% url 'resume' %}" title="Resume">Resume</a>
        <a href="{% url 'about' %}" title="About">About</a>
        <a href="{% url 'contact' %}" title="Contact">Contact</a>
        <a href="{% url 'friend' %}" title="Contact">Friends</a>
        <a href="{% url 'add' %}" title="Contact">Add Friends</a>
        <a href="javascript:void(0);" title="Menu" style="font-size:18px;" class="icon" onclick="myFunction()">&#9776;</a>
        </div>
          

        <hr class="hr-home">
        {% block content %}{% endblock %}
        
        <section>
            <footer><p>&copy Copyright Abimanyu Yuda Dewa 2020</p></footer>
        </section>
        
        <!-- Javascript -->
        <script>
            function myFunction() {
            var x = document.getElementById("centered_nav");
            if (x.className === "rc_nav") {
                x.className += " responsive";
            } else {
                x.className = "rc_nav";
              }
            }
            </script>
    </body>

</html>



