{% extends "profilepage/base.html" %}
    {%block content%}
    <h1 style="text-align: center; color: rgb(23, 104, 185);">Contact</h1><br><br><br>

    <div class="flex-container-contact">
        
        <div><img src="/static/profilepage/images/house.png" width="114" height="112">
        <p>Jl. Budi no.24 RT10/<br>
            RW3, Cawang Kec. 
            Kramatjati, Kota Jakarta Timur, 
            Daerah Khusus 
            Ibukota Jakarta 13630</p></div>

        <div><img src="/static/profilepage/images/email.png" width="134" height="134"><br>
        <p>abimanyuyudadewa@gmail.com</p></div>

        <div><img src="/static/profilepage/images/phone.png" width="=119" height="124"><br><br>
        <p>+62 81213116010</p></div>
    </div>

    {%endblock%}