{% extends "profilepage/base.html" %}
    {% block content %}
        <div class="flex-container">
            <div><h1>Hello, My Name Is <br> Abimanyu Yuda Dewa</h1></div>
            <div><img src="/static/profilepage/images/picture.jpg" style="max-width: 360px; max-height: 600px;"></div>
        </div>
    {% endblock %}