{% extends "profilepage/base.html" %}
    {% block content %}
        <h1 style="text-align: center; color: rgb(23, 104, 185);">Resume</h1>
        <div class="flex-container-resume">
            <div class="left">
            <h2 style="color: rgb(23, 104, 185);">Kolese Gonzaga<br>2016-2019</h2>
            <p>I graduated Cum Laude from Kolese Gonzaga<br>
            One of the seven Jesuit colleges in Indonesia alongside<br>
            Kolese Canisius in Jakarta</p></div>

            <div class="right"><h2 style="color: rgb(23, 104, 185);">Head of Gonzaga Computer Club<br>2019</h2>
            <p>I was the head of the Gonzaga Computer Club<br>
            in my last year of high school.
            I started two new divisions, Web Development and Game Development alongside
            Programming and Design</p></div>

            <div class="left"><h2 style="color: rgb(23, 104, 185);">Gonzaga Festival Web Development Comitee<br>2018</h2>
            <p>During my second year of high school,
            I was chosen to be a part of the <br>
            E-System (Web Development) commitee<br>
            for Gonzaga Festival 2018</p></div>

            <div class="right"><h2 style="color: rgb(23, 104, 185);">University of Indonesia<br>2019 - Present</h2>
            <p>I am currently studying computer science at the
            University of Indonesia</p></div>
        </div>
    {% endblock %}

       